@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card bg-white">
    <div class="card-body">
        

        <form method="post">
           <div class="mb-3">
                  <label asp-for="FilmData.Titel" class="form-label">Title</label>
                <input asp-for="FilmData.Titel" type="text" class="form-control" id="inputTitle">
            </div>
            <div class="mb-3">
                <label asp-for="FilmData.Genre" class="form-label">Genre</label>
                <input asp-for="FilmData.Genre" type="text" class="form-control" id="inputGenre">
            </div>
            <div class="mb-3">
                <label asp-for="FilmData.Åldersgräns" class="form-label">Age Limit</label>
                <input asp-for="FilmData.Åldersgräns" type="text" class="form-control" id="inputAgeLimit">
            </div>
            <div class="mb-3">
                <label asp-for="FilmData.Recension" class="form-label">Review</label>
                <input asp-for="FilmData.Recension" type="text" class="form-control" id="inputReview">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>

</div>
